.entryContainer {
    border: #ecf0f8 solid 4px;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 0 2rem;
}

.entryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.entryHeader:hover {
    background-color: lightblue;
    cursor: pointer;
}
  
.entryHeader > div {
    display: flex;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: column;
  }
  
.stats label {
    margin: 1rem 0;
}