.App {
  text-align: center;
}

button {
  background-color: #ffc007;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5rem 2rem;
}

button:hover {
  cursor: pointer;
  background-color: orange;
}

.navigationControls {
  display: flex;
  justify-content: space-between;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.entryContainer {
  border: #ecf0f8 solid 2px;
  border-radius: 5px;
  padding: 1.5rem;
}

.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-header:hover {
  background-color: lightblue;
}

.entry-header > div {
  display: flex;
  align-items: center;
}

.pokeID {
  color: #cccccc;
  font-weight: bold;
  font-size: 1.2rem;
}



.pokemonLabel-min {
  cursor: pointer;
}
